.spot-image{
  position: relative;
  width: 100%;
  background: url('/resources/new/QlikBranch_headerImage.jpg') left center no-repeat;
  background-size: cover;
  padding: 80px 0 50px;
}

.spot-text-background{
  height: 100%;
}

.spot-text{

  font-family: 'ProximaNova-Light';
  font-weight: 600;
  padding: 60px 0 0 0;

  img {
    width: 50%;
  }
  .sub-heading {
    font-size: 60px;
    font-family: inherit;
    font-weight: 200;
    color: @sub-heading;
    line-height: 45px;
    z-index: 300;
    margin: 0;
  }

  .main-heading {
    font-size: 100px;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: -3px;
    color: @orange;
    margin: 0;
    line-height: 100px;
    z-index: 300;

    sup {
      font-weight: 100;
      top: -1.6em;
      font-size: 0.3em;
    }

  }

  p{
    color: white;
    font-size: 26px;
    font-weight: 100;
    line-height: 28px;
    text-align: center;
  }

  branchtree {
    position: absolute;
    top: 0;
    left: 580px;
  }
}

.btn-home {
  padding: 4px 50px;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  background-color: @orange;
  border: 0px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.playground {
  width: 100%;
  display: inline-block;
  position: relative;
  background-size: contain;
  background-image: url('/resources/new/QlikBranch_PlaygroundImage.jpg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;

  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: black;
    text-align: center;

    .playground-title {
      margin: 40px 0 0;
    }

    .btn-home {
      margin-top: 0px;
    }
  }
}

.playground:after {
  padding-top: 37.53%;
  display: block;
  content: '';
}

.featured {
  position: relative;
  width: 100%;
  background: url('/resources/new/QlikBranch_ProjectsImage.jpg') left center no-repeat;
  background-size: cover;
  padding: 80px 0 50px;

  .featured-content {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    padding: 10px;
    border-radius: 5px;

    h4 {
      color: @orange;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
    }

    .featured-content-item {
      margin-top: 20px;

      h3 {
        font-weight: bold;
        font-size: 18px;
        color: #ffffff;
        margin: 0;
      }

      p {
        color: #ffffff;
        margin-bottom: 0;
      }

      a {
        color: @orange;
      }
    }
  }
}

.recent-title {
  margin-top: 50px;
}

.follow {
  margin-top: 10px;

  img {
    width: 24px;
    height: 24px;
    display: inline;
    cursor: pointer;
  }

  .btn-follow, .btn-follow:hover {
    background-color: @heading;
    color: white;
    font-weight: bold;
    padding: 0 2px;
    font-size: 16px;
    cursor: default;
  }
}

.latest-publications {

  padding-bottom: 50px;

  .latest-publication {
    color: @default-text;

    .latest-publication-content {

      .latest-publication-image {
        height: 130px;
        max-height: 130px;
        background: #ccc;

        img {
          margin-left: auto;
          margin-right: auto;
          max-height: 129px;
        }

      }

      .more {
        padding: 0 5px;
        color: @orange;
      }

      .latest-publication-heading {
        color: @orange;
        padding: 5px 5px 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        margin: 0;
      }
      .latest-publication-description {
        color: #737373;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 5px 0;
        margin: 0;
      }
      .latest-publication-meta {
        color: #737373;
        font-size: 11px;
        padding: 0px 5px;
        margin: 0;
      }
    }
  }
}