.spot-image{
  position: relative;
  background: url('/resources/home_aspot.jpg') center center no-repeat;
  width: 100%;
  height: 300px;
  background-size: contain;
}

.spot-text-background{
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
  height: 125px;
  background-color: @smoke;
}

.spot-text{
  font-size: 28px;
  color: white;
}
