@media screen and (max-width: @tablet-width) {
  
  .main {
    padding-top: 0;
  }
  
  .spot-image {
    height: 200px;
  }  
  
  .spot-text{
    
    padding-top: 55px;    
    
    .sub-heading {
      font-size: 32px;
      line-height: 25px;
    }
    
    .main-heading {
      font-size: 75px;
      line-height: 60px;
    }
    
    branchtree {
      display: none;
    }
    
  }
}
