include ../header.jade
div.container
  h1 Create a new project
    div.col-md-2
    div.col-md-8
      form
        input.form-control(placeholder="Projec Title")
        input.form-control(placeholder="Name of your company or organization")
        input.form-control(placeholder="A sentence or two about your project")
        input.form-control(placeholder="Web site where your project is hosted")
        input.form-control(placeholder="URL to clone the git repository")
        label Use details from GitHub repository
        input.form-control(type="checkbox")
        input.form-control(placeholder="URL to directly download project files")
        select.form-control
          option(value="" disabled) Project Type
        select.form-control
        select.form-control
        input.form-control(placeholder="Project Version")
    div.col-md-2
