/config/*.*
node_modules/*
!node_modules/visualcaptcha/
!node_modules/github/
bower_components/*
!bower_components/visualcaptcha.angular
!bower_components/angular-sanitize/
data.js
client.pem
.vscode/
/public/configs/sense.json
config.js
credentials.json
public/attachments/*
!public/attachments/default