.blogs{
  .results-container{
    margin-top: 40px;
  }
}

.blog{
  position: relative;
  .image-preview{
    width: 100%;
    img{
      width: 100%;
    }
  }

  h2 {
    color: @green;
    margin: 0;
  }

  .no-image{
    height: 100px;
    padding: 30px;
    line-height: 20px;
    color: @header-grey;
    text-align: center;
    border: 1px solid @content-border;
  }
  .blog-image{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid @content-border;
    margin-bottom: 10px;

    &:before{
      content: "";
      display: block;
      padding-top: 25%;
    }
    &.blog-thumbnail{
      &:before{
        content: "";
        display: block;
        padding-top: 12%;
      }
    }

    img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .blog-summary{
    padding: 3px;
    > a:first-of-type{
      color: @green;
      display: block;
    }
  }
}
