<div class="container page">
  <div class="row content">
    <div class="blog-detail card">
      <h2>About Qlik Branch</h2>
      <div class="blog-content">
        <p>Qlik Branch is a game-changing platform for developers to accelerate innovation to bring the best ideas to market. Rooted in open source philosophy, all projects are freely distributed and modified, allowing faster collaboration and innovation.</p>

<p>Non-developers will be able to use Qlik Branch as a great resource for finding custom solutions for their applications. Furthermore, if the custom solution cannot be found on Qlik Branch, a developer could be found to built it.</p>

<p>For developers, Qlik Branch is a place to innovate and take advantage of the capabilities and extensibility of the APIs and Qlik platform. Sharing their projects on Qlik Branch makes their projects more accessible for use and collaboration.</p>

<h3>How to Contribute</h3>

<p>You can start sharing your projects right away. Rather than storing the projects here, Branch asks users to link to their Github repository when adding a new project. <a href="http://github.com">Github</a> is a great free site leveraged by the open source community which makes it easy to host projects. More than that, it also makes it very easy for users to pull down copies of these projects to fork, branch, and generally contribute. Simply create an account and upload your projects. <a href="https://help.github.com/categories/bootcamp/">Click here</a> to see an overview of their capabilities.</p>

<p>Once you've got your project hosted on Github, simply click your username in the top menu and choose "Create Project." You'll see a list of form fields to fill out for your project which should be self-explanatory.  Toward the bottom of the form, you'll see a way to login to Github.  Once you're logged in you'll be presented with a list of your projects.  Select the proper one, and you'll be good to go!</p>

<p>Having code easily accessible and available also opens doors to collaboration. Feel free to comment on a project, contribute to a project, or fix a bug. Get involved, and you can be a part of the next great innovation for Qlik.<br><br><br><br><br></p>
      </div>
    </div>
  </div>
</div>