<div class="row content">
  <div class="col-md-12">
    <h3>Comments</h3>
  </div>
  <div class="col-md-12 project-comments">
    <div class="" ng-if="comments.length>0">
      <div class="result-header">
        Showing {{comments.length}} of {{commentInfo.total}} comments
        <div class="sorting">
          <label>Sort by: </label><select class="form-control" ng-change="applySort(sort)" ng-model="sort" ng-options="item.name for item in sortOptions track by item.id"/>
        </div>
      </div>
      <ul class="plainlist comment-list">
        <li class="card" ng-repeat="comment in comments" ng-class="{'author-comment': comment.userid._id==parent.userid._id}">
          <div class="thumb-container">
            <a href="#!/user/{{comment.userid._id}}"><img src="{{comment.userid.thumbnail}}"/></a>
          </div>
          <div class="comment-container">
            <div class="comment-header">
              <p><a href="#!/user/{{comment.userid._id}}"><strong>{{comment.userid.username}}</strong></a> - {{comment.createdate | date:'dd MMM yy HH:mm'}} </p>
            </div>
            <div class="comment-content" ng-bind-html="getCommentText(comment.content)"></div>           
          <moderation orientation="horizontal" entity="'comment'" entityid="comment._id" approved="comment.approved" size="'medium'" flagged="flagged[comment._id]" editable="false"></moderation>
          </div>
        </li>
      </ul>
    </div>
    <div class="no-results" ng-if="comments.length==0">
      No Comments
    </div>
    <div class="show-more" ng-if="commentInfo.total > comments.length">
      <button class="button-outline" type="button" name="button" ng-click="more()">More</button>
    </div>
    <div ng-show="userManager.canCreate('comment')">
      <textarea id="commentContent"></textarea>
    </div>
    <button ng-show="userManager.canCreate('comment')" type="button" class="form-control" ng-click="saveComment()">Reply</button>
  </div>
</div>
