<div class="row content">
  <div class="col-md-12">
    <h2>Comments</h2>
  </div>
  <div class="col-md-12 project-comments">
    <div class="result-header">
      Showing {{comments.length}} of {{commentInfo.total}} comments
      <div class="sorting">
        <label>Sort by: </label><select class="form-control" ng-change="applySort()" ng-model="sort" ng-options="item.name for item in sortOptions track by item.id"/>
      </div>
    </div>
    <ul class="plainlist">
      <li ng-repeat="comment in comments">
        <img src="" />
        <h3>{{comment.userid.username}}</h3><span> - {{comment.createdate | date:'dd MMM yy HH:mm'}}</span>
        <div class="" ng-bind-html="getCommentText(comment.content)">

        </div>
      </li>
    </ul>
    <button type="button" class="form-control" ng-click="saveComment()">Reply</button>
    <div id="summernote" class="">

    </div>

  </div>
</div>
