<div class="row content">
  <div class="col-md-12">
    <h2>Comments</h2>
  </div>
  <div class="col-md-12 project-comments" ng-show="userManager.canRead('comments')">
    <div class="" ng-if="comments.length>0">
      <div class="result-header">
        Showing {{comments.length}} of {{commentInfo.total}} comments
        <div class="sorting">
          <label>Sort by: </label><select class="form-control" ng-change="applySort(sort)" ng-model="sort" ng-options="item.name for item in sortOptions track by item.id"/>
        </div>
      </div>
      <ul class="plainlist comment-list">
        <li ng-repeat="comment in comments" ng-class="{'author-comment': comment.userid._id==parent.userid._id}">
          <div class="comment-header">
            <span><a href="#users/{{comment.userid.username}}">{{comment.userid.username}}</a></span><span>{{comment.createdate | date:'dd MMM yy HH:mm'}}</span>
          </div>
          <div class="thumb-container">
            <img src="{{comment.userid.thumbnail}}"/>
          </div>
          <div class="comment-content" ng-bind-html="getCommentText(comment.content)">

          </div>
          <moderation orientation="horizontal" entity="'comments'" entityid="comment._id" approved="comment.approved" size="'medium'" flagged="flagged[comment._id]" editable="false"></moderation>

        </li>
      </ul>
    </div>
    <div class="no-results" ng-if="comments.length==0">
      No Results
    </div>
    <div class="show-more" ng-if="commentInfo.total > comments.length">
      <button class="btn" type="button" name="button" ng-click="more()">More</button>
    </div>
    <div ng-show="userManager.canCreate('comments')">
      <div id="summernote" class="">

      </div>
    </div>
    <button ng-show="userManager.canCreate('comments')" type="button" class="form-control" ng-click="saveComment()">Reply</button>
  </div>
  <div class="please-login" ng-hide="userManager.canRead('comments')">
    Please login to view comments
  </div>
</div>
