<div class="footer">
  <div class="footerNav">
    <div class="container">
      <ul class="nav navbar-nav navbar-main">
        <li><a href="#project"><span>Projects</span></a></li>
        <li><a href="#blog"><span>Blog</span></a></li>
        <li><a href="#forum"><span>Forum</span></a></li>
      </ul>
    </div>
  </div>
  <div class="footerUtilLinks">
    <div class="container">
      <span class="branchTree">Qlik Branch Tree Logo</span>
      <ul class="footerLinkCols nav navbar-nav">
        <li class="footerLinkList">
          <h2>About Qlik Branch</h2>
          <ul>
            <li><a href="#project"><span>What is Qlik Branch?</span></a></li>
            <li><a href="#blog"><span>Qlik Branch for Developers</span></a></li>
            <li><a href="#forum"><span>Qlik Branch FAQs</span></a></li>
          </ul>
        </li>
        <li class="footerLinkList">
          <h2>More Resources</h2>
          <ul>
            <li ng-if="userManager.hasUser()">
          <a href="http://qlikbranch-slack-invite.herokuapp.com">Qlik Branch Slack</a>
        </li>
            <li><a href="http://help.qlik.com/sense/2.1/en-US/developer/"><span>Qlik Sense API Documentation</span></a></li>
            <li><a href="https://community.qlik.com/docs/DOC-6932"><span>New to Qlik Sense?</span></a></li>
            <li><a href="http://community.qlik.com"><span>Qlik Community</span></a></li>
          </ul>
        </li>
        <li class="footerLinkList">
          <h2>Qlik Sites</h2>
          <ul>
            <li><a href="http://www.qlik.com"><span>Qlik.com</span></a></li>
            <li><a href="http://community.qlik.com"><span>Qlik Community</span></a></li>
            <li><a href="http://partners.qlik.com"><span>Partner Portal</span></a></li>
            <li><a href="http://www.qlik.com/support"><span>Qlik Support</span></a></li>
            <li><a href="http://market.qlik.com"><span>Qlik Market</span></a></li>
            <li><a href="http://sense-demo.qlik.com/"><span>Demo Site</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="copyright">&copy; 1993-2015 QlikTech International AB | <a href="#tnc">Terms & Conditions</a></div>
  </div>
</div>
