<div class="header navbar-fixed-top">
  <div class="container">
    <button data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <div class="logo"><a href="#/">Home</a></div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-main">
        <li ng-if="!userManager.hasUser()">
          <a class="green" href="{{getLoginUrl()}}">Login</a>
        </li>
        <li class="dropdown" ng-repeat="item in userManager.menu.items" role="button" ng-if="userManager.hasUser()">
          <a data-toggle="dropdown" class="dropdown-toggle green">
            {{item.label}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" ng-if="item.items.length > 0">
            <li ng-repeat="subItem in item.items">
              <a href="{{subItem.href}}">{{subItem.label}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" role="button" aria-expanded="false" data-count="" class="dropdown-toggle">Qlik<span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="http://www.qlik.com" target="_window">Qlik.com</a></li>
            <li><a href="https://qlikcloud.com" target="_window">Qlik Cloud</a></li>
            <li><a href="http://market.qlik.com" target="_window">Qlik Market</a></li>
            <li><a href="http://community.qlik.com" target="_window">Qlik Community</a></li>
          </ul>
        </li>
        <li><a href="#discussion"><span>Forum</span></a></li>
        <li><a href="#blog"><span>Blog</span></a></li>
        <li><a href="#project"><span>Projects</span></a></li>
      </ul>
    </div>
  </div>
</div>
