<div class="container loginsignup page">
  <notification-dialog></notification-dialog>
  <div class="col-md-6">
    <div class="form-signin block">
      <h2>Login</h2>
      <form ng-submit="login()">
        <input class='form-control' name='username' ng-model='loginusername' placeholder='Username' required>
        <input class='form-control' ng-model='loginpassword' placeholder='Password' type='password' required>
        <a href="#!reset">Forgot your password?</a>
        <button class='button-outline-fill' type='submit'>Login</button>
      </form>
    </div>
    <div class="block">
      <div class="text-center">
        or
      </div>
      <a href="/git/login?url={{returnUrl}}" type="button" class="button-outline-fill green-bg white" name="button">Login With GitHub</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block">
      <h2>Signup</h2>
      <form ng-submit="signup()">
        <input class="form-control" ng-model="username" placeholder="Username" required>
        <input class="form-control" ng-model="company" placeholder="Company" required>
        <input class="form-control" ng-model="fullname" placeholder="Full Name" required>
        <input class="form-control" ng-model="country" placeholder="Country" required>
        <input class="form-control" ng-model="email" placeholder="Email" type="email" required>
        <input class="form-control" ng-model="password" placeholder="Password" type="password" required>
        <input class="form-control" placeholder="Confirm Password" type="password" pattern="{{password}}" required>
        <div captcha options="captchaOptions"></div>
        <button class="button-outline-fill" type="submit">Signup</button>
      </form>
    </div>
  </div>
  <div class="loading-cover" ng-show="authLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
