<div class="container loginsignup">
  <notification-dialog></notification-dialog>
  <div class="row">
    <div class="form-signin block">
      <h2>Login</h2>
      <form ng-submit="login()">
        <input class='form-control' name='username' ng-model='loginusername' placeholder='Username'>
        <input class='form-control' ng-model='loginpassword' placeholder='Password' type='password'>
        <button class='button-outline-fill' type='submit'>Login</button>
      </form>

    </div>
  </div>
  <div class="loading-cover" ng-show="authLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
