<div class="container loginsignup page">
  <div class="col-md-6">
    <div class="block">
      <h2>Signup</h2>
      <form action="/auth/signup" method="post">
        <input class="form-control" name="username" placeholder="Username">
        <input class="form-control" name="email" placeholder="Email">
        <input class="form-control" name="password" placeholder="Password" type="password">
        <input class="form-control" placeholder="Confirm Password" type="password">
        <button class="ghost-button green" type="submit">Signup</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="block">
      <h2>Login</h2>
      <form action="auth/login" method="post">
        <input class="form-control" name="username" placeholder="Username">
        <input class="form-control" name="password" placeholder="Password" type="password">
        <button class="ghost-button green" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
