<div class="container loginsignup page">
  <div class="col-md-12">
    <div class="block">
      <h2>Signup</h2>
      <form ng-submit="signup()">
        <input class="form-control" ng-model="username" placeholder="Username">
        <input class="form-control" ng-model="email" placeholder="Email">
        <input class="form-control" ng-model="password" placeholder="Password" type="password">
        <input class="form-control" placeholder="Confirm Password" type="password">
        <button class="ghost-button green" type="submit">Signup</button>
      </form>
    </div>
  </div>  
</div>
