<div ng-class="{'vertical':orientation=='vertical'}">
  <button class="button-outline" ng-if="hasUser && !userManager.canFlag(entity)" ng-click="flagEntity('spam')" ng-class="{flagged: flagged==true}" data-flagcount="{{spamcount}}">
    <i class="fa fa-flag"></i>Report Spam
  </button>
  <button class="button-outline" ng-if="userManager.canFlag(entity)" ng-click="flagEntity('flag')" ng-class="{flagged: flagged==true}" data-flagcount="{{flagcount}}">
    <i class="fa fa-flag"></i>Flag
  </button>
  <button class="button-outline" ng-if="(userManager.canApprove(entity) && !isApproved()) || (userManager.canHide(entity) && !isApproved())" ng-click="approveEntity()">
    <i class="fa fa-thumbs-up"></i>Approve
  </button>
  <button class="button-outline" ng-if="(userManager.canHide(entity) && isApproved())" ng-click="hideEntity()">
    <i class="fa fa-ban"></i>Unapprove
  </button>
  <button class="button-outline" ng-if="userManager.canDelete(entity, owner)" ng-click="deleteEntity()">
    <i class="fa fa-trash-o"></i>Delete
  </button>
  <button class="button-outline" ng-if="userManager.canUpdate(entity, owner) && editable==true && !isEditing" ng-click="editEntity()">
    <i class="fa fa-pencil"></i>Edit
  </button>
  <button class="button-outline" ng-if="isEditing" ng-click="saveEntity()">
    <i class="fa fa-floppy-o"></i>Save
  </button>
  <button class="button-outline" ng-if="userManager.canUpdate(entity, owner) && editable==true && entity=='project'" ng-click="updateReadme()">
    <i class="fa fa-github"></i>Update README from Git
  </button>
  <button class="button-outline" ng-if="userManager.hasUser() && download" ng-click="downloadEntity()">
    <i class="fa fa-download"></i>Download
  </button>
  <button class="button-outline" ng-if="userManager.userInfo.role.name==='admin' && entity=='userprofile'" ng-click="createBlog()">
    <i class="fa fa-pencil"></i>Create Blog
  </button>
</div>
