<!DOCTYPE html>
<html>
  <head>
    <title>Branch Resource Center</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script text="text/javascript" src="../bower_components/handlebars/handlebars.js"></script>
    <script text="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id='header'>

    </div>
    <div class="container">

      <form class="form-signin" style="max-width: 400px;" action="/signup" method="post">
        <h2 class="form-signin-heading">Please Register</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
    <script text="text/javascript" src="../js/main.js"></script>
    <script text="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
