.header{
  background-color: white;
  @media screen and (min-width: @tablet-width) {
    min-height: 60px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    height: 70px;

    .navbar-main{
      width: 100%;
      float: right;
      > li{
        font-size: 16px;
        font-weight: lighter;
        display: inline-block;
        float: right;
        > a {
          padding-top: 25px;
        }
      }
    }
  }
  position: sticky;
  .container{
    height: 100%;
    position: relative;
  }
  .logo{
    background: url('/resources/qlik-logo-header.png') left center no-repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    margin-right: 50px;
    background-size: contain;
    a{
      text-indent: -9999px;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .navbar-links{
    li{
      height: 30px;
      line-height: 30px;
      margin: 0 10px;
      font-size: 12px;
      color: @header-grey;
      a{
        cursor: pointer;
        padding: 5px;
      }
    }
  }
  .navbar-main{
    color: @header-grey;
    height: 100%;
    li{
      
      &.active a span {
        border-bottom: 3px solid @green;
        padding-bottom: 2px;
      }
      
      a {
        
        &:hover{
          color: @green;
          background-color: transparent;
        }        
      }

    }
  }
}
