.header{
  height: 80px;
  position: sticky;
  .container{
    height: 100%;
  }
  .logo{
    background: url('/resources/qlik-logo-header.png') left center no-repeat;
    width: 230px;
    height: 100%;
    float: left;
    margin-right: 50px;
    background-size: contain;
    a{
      text-indent: -9999px;
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .navbar-links{
    float: right;
    li{
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 0 10px;
      font-size: 12px;      
      a{
        padding: 5px;
        color: inherit;
      }
    }
  }
}
