<div class="container loginsignup">
  <notification-dialog></notification-dialog>
  <div class="row">
    <div class="form-signin block">
      <h2>Change Password</h2>
      <form ng-submit="changePassword()">
        <input class='form-control' ng-model='oldpassword' placeholder='Old Password' type='password' required>
        <input class="form-control" ng-model="password" placeholder="NewPassword" type="password" required>
        <input class="form-control" ng-model="confirm" placeholder="Confirm Password" type="password" pattern="{{password}}" required>
        <button class='branch-button' type='submit'>Change</button>
      </form>

    </div>
  </div>
</div>
