.user-header{
  position: relative;
  height: 200px;
  .container{
    position: relative;
    height: 100%;
  }
  .img{
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    border: 4px solid white;
    overflow: hidden;
    position: absolute;
    bottom: -15px;
    left: 15px;
    img{
      height: 100%;
      width: auto;
    }
  }
  .frosted-cover{
    height: 80px;
    bottom: 0;
    top: inherit;
  }
}
