doctype html
html(ng-app="branch" ng-strict-di)
  head
    title Qlik Branch     
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")    
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")    
    link(rel="stylesheet" href="/css/main.css")        
    meta(content="text/html charset=utf-8" http-equiv="Content-Type")
    meta(name="viewport" content="width=device-width, initial-scale=1")    
  body   
    .container
      .no-results
        h3 Not Found
        | The requested resource could not be found
    div(footer)
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
