include ./header.jade
div.container-fluid
  div.row
    div.col-sm-3.col-md-2.sidebar(style="position: fixed; top: 51px;")
      ul.nav.nav-sidebar
        li.active
          a(href="#") Videos <span class="sr-only">(current)</span>
        li
          a(href="#") Walkthroughs
        li
          a(href="#") Tips & Tricks

    div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      h1.page-header Browse Resources
include ./foot.jade 
