title Branch Resource Center
script(src='/bower_components/handlebars/handlebars.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/main.css')
