doctype html
html(ng-app="branch")
  head
    title Qlik Branch
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")    
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")    
    link(rel="stylesheet" href="/bower_components/summernote/dist/summernote.css")  
    link(rel="stylesheet" href="/bower_components/visualcaptcha.angular/visualcaptcha.css")  
    link(rel="stylesheet" href="/css/main.css")
    link(rel='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500italic,500,700,700italic')
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js") 
    script(src="/bower_components/summernote/dist/summernote.min.js")    
    script(src="/node_modules/marked/marked.min.js")
    script(src="/qsocks/qsocks.bundle.js")
    if mode == "debug"
      script(src="/debug/app.js")
      script(src="/debug/controllers/admin.js")
      script(src="/debug/controllers/moderator.js")
      script(src="/debug/controllers/auth.js")
      script(src="/debug/controllers/blog.js")
      script(src="/debug/controllers/discussion.js")
      script(src="/debug/controllers/comment.js")
      script(src="/debug/controllers/home.js")
      script(src="/debug/controllers/moderation.js")
      script(src="/debug/controllers/project.js")
      script(src="/debug/controllers/user.js")
      script(src="/debug/directives/comments.js")
      script(src="/debug/directives/confirm-dialog.js")
      script(src="/debug/directives/header.js")
      script(src="/debug/directives/moderation.js")
      script(src="/debug/directives/rating.js")
      script(src="/debug/directives/subscribe.js")
      script(src="/debug/directives/notification-dialog.js")      
      script(src="/debug/directives/search-filter.js")
      script(src="/debug/directives/search-input.js")
      script(src="/debug/directives/search-results.js")    
      script(src="/debug/directives/branchtree.js")      
      script(src="/debug/services/picklists.js")
      script(src="/debug/services/publisher.js")
      script(src="/debug/services/result-handler.js")
      script(src="/debug/services/search-exchange.js")
      script(src="/debug/services/user-manager.js")      
    else
      script(src="/js/app.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body        
    confirm-dialog
    div(header)
    div.main(ui-view)
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/visualcaptcha.angular/visualcaptcha.angular.src.js")
