doctype html
html(ng-app="branch")
  head
    title Qlik Branch
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")    
    link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")    
    link(rel="stylesheet", href="/bower_components/summernote/dist/summernote.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700") 
    link(rel="stylesheet", href="/css/main.css")    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")    
    script(src="/bower_components/summernote/dist/summernote.min.js")    
    script(src="/node_modules/marked/marked.min.js")
    script(src="/qsocks/qsocks.bundle.js")
    script(src="/js/app.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body    
    notifications-bar.notifications.notifications-container
    confirm-dialog
    div(header)
    div.main(ui-view)
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
