include ../header.jade
div.container
form#loginForm.navbar-form.navbar-right(method="post", action="/login")  
  input.form-control(name="email", type="text", placeholder="Email")
  input.form-control(name="password", type="password", placeholder="Password")
  button.btn.btn-success.btn-login Sign in       
include ./foot.jade 
