.project-result-header{
  font-size: 12px;
  color: @header-grey;
  height: 50px;
  line-height: 42px;
}

.project-summary, .project-detail-summary{
  margin-bottom: 10px;
  label{
    font-weight: normal;
    color: @header-grey;
  }
}

.project-detail-summary{
  border-bottom: 1px solid @light-grey;
}

.project-detail{
  h1{
    font-size: 16px;
    color: black;
  }
}
