<div class="container featured">
    <div class="featured-content center-block">
        <h4>Featured Content:</h4>

        <div class="featured-content-item">
            <h4>{{featuredArticle.title}}</h4>
            <p>{{featuredArticle.comment}}</p>
            <a href="#!blog/{{featuredArticle._id}}">View Blog</a>
        </div>

        <div class="featured-content-item">
            <h4>{{featuredProject.title}}</h4>
            <p>{{featuredProject.comment}}</p>
            <a href="#!project/{{featuredProject._id}}">View Project</a>
        </div>
    </div>
</div>