<div class="container featured">
    <div class="featured-content center-block">
        <h4>Featured Content:</h4>

        <div class="featured-content-item">
            <h4>{{featuredArticle.title}}</h4>
            <p>{{featuredArticle.comment}}</p>
            <a href="{{featuredArticle.link}}">View Blog</a>
        </div>

        <div class="featured-content-item">
            <h4>{{featuredProject.title}}</h4>
            <p>{{featuredProject.comment}}</p>
            <a href="#!project/{{featuredProject.entityId}}">View Project</a>
        </div>
    </div>
</div>