<div class="content search-input-container">
  <div class=''>
    <div class='input-bg' ng-bind-html="ghostDisplay"></div>
    <input id="branch-search-input" autofocus placeholder='Enter one or more search terms' type='text' autocorrect='off' autocomplete='off' autocapitalize='off' spellcheck='false' ng-model="searchText" ng-keyDown="keyDown($event)" ng-keyUp="keyUp($event)" />
    <div class='lozenge-container'></div>
    <button type='button' ng-click="clear()" class='btn btn-input-clear'></button>
  </div>
  <div class='search-suggestion-container content' ng-show="suggesting">
    <ul class="plainlist">
      <li ng-repeat="s in suggestions" ng-if="$index < 6" ng-class="{active:activeSuggestion==$index}" ng-click="setAndAccept($index)">
        {{s.qValue}}
      </li>
    </ul>
  </div>
  <div class='search-popup-container'><ul class='popupItems'></ul></div>
  <div class='search-results-popup-container'></div>
</div>
