<div class="content search-input-container">
  <div class=''>
    <div class='input-bg'></div>
    <input autofocus placeholder='Enter one or more search terms' type='text' autocorrect='off' autocomplete='off' autocapitalize='off' spellcheck='false' ng-model="searchText" ng-keyDown="keyDown($event)" ng-keyUp="keyUp($event)" />
    <div class='lozenge-container'></div>
    <button type='button' class='btn btn-input-clear'></button>
  </div>
  <div class='search-suggestion-container'></div>
  <div class='search-popup-container'><ul class='popupItems'></ul></div>
  <div class='search-results-popup-container'></div>
</div>
