<div class="container page project-edit">
  <div class="content">
    <notification-dialog></notification-dialog>
    <h2>{{projects[0]._id ? 'Edit project' : 'New project'}}</h2>
    <h3 class="green">Summary</h3>
    <div class="row">
      <div class="col-md-6">
        <label>Name:</label>
        <input class="form-control" type="text" ng-model="projects[0].title" placeholder="The name of your project" />
        <label>Short Description:</label>
        <input class="form-control" type="text" ng-model="projects[0].short_description" placeholder="A brief description" />
        <label>Project Type:</label>
        <select class="form-control" type="text" ng-model="projects[0].category" ng-options="item.name for item in projectCategories track by item._id">
          <option value="">Please specify a Project Type</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Thumbnail:</label>
        <form enctype="multipart/form-data" id="newScreenshotForm">
          <span class="btn btn-default btn-file">
            Choose
            <input onchange="angular.element(this).scope().previewThumbnail()" type="file" name="file" id="thumbnail"/>
          </span>
        </form>
        <img src="{{projects[0].thumbnail}}" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label>Status:</label>
        <select class="form-control" ng-model="projects[0].status" ng-options="item.name for item in projectStatuses track by item._id">
          <option value="">Please specify a Project Status</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Qlik Software:</label>
        <select class="form-control" ng-model="projects[0].product" ng-change="getProductVersions(projects[0].product)" ng-options="item.name for item in projectProducts track by item._id">
          <option value="">Please specify a Qlik Product</option>
        </select>
      </div>
      <div class="col-md-4">
        <label>Version:</label>
        <ul class="plainlist version-list" ng-if="projects[0].product!=null">
          <li ng-repeat="version in productVersions">
            <input class="product-version" type="checkbox" data-versionid="{{version._id}}" ng-checked="{{checkIfVersionChecked(version._id)}}"/> {{version.name}}
          </li>
        </ul>
        <div class="">
          <span ng-if="projects[0].product==null">Please specify the software</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Tags:</label>
        <input class="form-control" type="text" ng-model="projects[0].tags" name="name" value="" placeholder="Assign some tags to your product. e.g. Visualization, Sense">
      </div>
    </div>
  </div>
  <div class="content">
    <div class="" ng-hide="userManager.userInfo.linked_to_github==true">
      <h2>Details</h2>
      <span>All projects must be hosted on GitHub. To begin please login to your GitHub Account.</span>
    </div>
    <div class="row">
      <div class="col-md-12 underline" ng-show="projects[0].git_clone_url || isNew">
        <div ng-if="isNew">
          <div class="" ng-if="!gitAuthenticated">
            <p>In order to create a Project you need to link your Qlik Branch account to GitHub. To do so, please do the following:</p>
            <ol>
              <li>Click your username at the top right and select "My Profile"</li>
              <li>Click the "Edit" button on the right</li>
              <li>At the bottom of the page click the "Link to GitHub" button</li>
              <li>On GitHub's authorization page click the "Authorize application" button</li>
            </ol>
          </div>
          <div class="" ng-if="gitAuthenticated">
            <h3>Select a Project</h3>
            <span class="red" ng-show="gitError">{{gitError}}</span>
            <form ng-submit="searchGithub(githubSearch)">
              <div class="controls">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search your GitHub Repositories" ng-model="githubSearch" />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                      <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                  </span>
                </div>
              </div>
            </form>
            <ul class="plainlist gitlist" ng-if="gitProjects.length > 0">
              <li ng-repeat="project in gitProjects" ng-click="selectGitProject(project)" ng-class="{'highlight' : projects[0].git_repo==project.name}">
                {{project.name}}
              </li>
            </ul>
            <div ng-if="gitProjects.length == 0">
              No Projects Found
            </div>
            <div class="loading-cover git" ng-show="gitLoading">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div ng-if="!isNew">
          <h3>Project linked to GitHub</h3>
          <a href="projects[0].project_site">{{projects[0].project_site}}</a>
        </div>
      </div>
      <div class="col-md-12">
        <button class="button-outline-fill" type="button" name="button" ng-click="validateNewProjectData()">{{projects[0]._id ? 'Save' : 'Submit for approval'}}</button>
      </div>
    </div>
  </div>
  <div class="loading-cover" ng-show="projectLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
