<div class="container page">
  <div class="row project-detail-summary content">
    <notification-dialog></notification-dialog>
    <div class="col-md-4">
      <h1>{{projects[0].title}}</h1>
      by <a class="user-link" href="#users/projects[0].userid._id">{{projects[0].userid.username}}</a>
      <img src="{{projects[0].thumbnail}}" />
      <subscribe entity="'project'" entityid="projects[0]._id" user="currentuserid"></subscribe>
      <a href="{{projects[0].download_link}}">Download</a>
    </div>
    <div class="col-md-5">
      <ul class="plainlist">
        <li>
          <label>Project Website:</label>
          <a class="blue" href="{{projects[0].project_site}}" target="_blank">{{projects[0].project_site}}</a>
        </li>
        <li>
          <label>Updated at:</label>
          {{projects[0].last_updated | date:'dd MMM yy HH:mm'}}
        </li>
        <li>
          <label>Git Clone Url:</label>
          {{projects[0].git_clone_url}}
        </li>
        <li>
          <label>Project State:</label>
          {{projects[0].status.name || 'None Specified'}}
        </li>
        <li>
          <label>Release version:</label>
          TBD
        </li>
        <li>
          <label>Branch Contributors:</label>
          TBD
        </li>
        <li>
          <label>Tags:</label>
          {{projects[0].tags}}
        </li>
      </ul>
    </div>
    <div class="col-md-3 align-left">
      <rating entity="'project'" entityid="projects[0]._id" user="currentuserid"></rating>
      <moderation entity="'project'" entityid="projects[0]._id" approved="projects[0].approved" owner="projects[0].userid._id" size="'large'" editable="true"></moderation>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-12">
      <h2>Details</h2>
    </div>
    <div class="col-md-12 project-detail" ng-bind-html="getPageText()">
    </div>
  </div>
  <div comments entity="'project'" entityid="projectId" parent="projects[0]">

  </div>
  <div class="loading-smoke" ng-show="projectLoading"></div>
</div>
