<div class="container page">
  <notification-dialog></notification-dialog>

  <div class="row project-header card">
    <div class="project-thumbnail">
      <img src="{{projects[0].thumbnail}}">
    </div>
    <div class="project-heading">
      <h2>{{projects[0].title}}</h2>
      <p>created by <a class="user-link" href="#!user/{{projects[0].userid._id}}">{{projects[0].userid.username}}</a></p>
      <p>{{projects[0].short_description}}</p>
      <p><a class="blue" href="{{projects[0].project_site}}" target="_blank" 
        ng-click="GithubGATracking();">{{projects[0].project_site}}</a></p>
      <subscribe entity="'project'" entityid="projects[0]._id" user="currentuserid"></subscribe>
      <a href="{{projects[0].project_site}}/issues" target="_blank"><button class="button-outline"><i class="fa fa-exclamation-circle"></i>Raise Issue</button></a>
    </div>
    <rating entity="'project'" entityid="projects[0]._id" user="currentuserid"></rating>
  </div>

  <div class="row card content project-metadata">
    <div>
      <p class="meta-label">Updated</p>
      <p>{{projects[0].last_updated | date:'dd MMM yy HH:mm'}}</p>
    </div>
    <div>
      <p class="meta-label">Product</p>
      <p>{{projects[0].product.name}}</p>
    </div>
    <div>
      <p class="meta-label">Project State</p>
      <p>{{projects[0].status.name || 'None Specified'}}</p>
    </div>
    <div>
      <p class="meta-label">Views</p>
      <p>{{projects[0].views}}</p>
    </div>
    <div>
      <p class="meta-label">Tags</p>
      <p>{{projects[0].tags}}</p>
    </div>
  </div>

  <div class="row content card">
    <div class="col-md-12 markdown-body project-detail" ng-bind-html="getPageText()">
    </div>
  </div>

   <div ng-show="currentuserid" class="row">
    <div class="col-md-12">
      <moderation entity="'project'" entityid="projects[0]._id" approved="projects[0].approved" owner="projects[0].userid._id" size="'large'" editable="true"></moderation>
    </div>
   </div>

   <div comments entity="'project'" entityid="projectId" parent="projects[0]">

  </div>
  <div class="loading-cover" ng-show="projectLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- <rating entity="'project'" entityid="projects[0]._id" user="currentuserid"></rating>-->
