<div class="container page blog-edit">
  <div class="content">
    <notification-dialog></notification-dialog>
    <h2>{{blogs[0]._id ? 'Edit post' : 'New blog post'}}</h2>
    <div class="row">
      <div class="col-md-12">
        <label>Title:</label>
        <input class="form-control" type="text" ng-model="blogs[0].title" placeholder="Title" />
        <label>Short Description:</label>
        <input class="form-control" type="text" ng-model="blogs[0].short_description" placeholder="A brief description" />
        <label>Type:</label>
        <select class="form-control" type="text" name="" ng-model="blogs[0].blogType" ng-options="item.name for item in blogTypes track by item._id">
          <option value="">Please specify a Type</option>
        </select>
        <label>Tags:</label>
        <input class="form-control" type="text" ng-model="blogs[0].tags" name="name" value="" placeholder="Assign some tags to your blog. e.g. Visualization, Sense">
      </div>
      <div class="col-md-12" ng-show="blogs[0].blogType.name!='Tweet'">
        <div class="image-upload">
          <label>Image:</label>
          <span class="btn btn-default btn-file">
            Choose
            <input onchange="angular.element(this).scope().previewThumbnail()" type="file" name="file" id="blogImage"/>
          </span>
        </div>
        <div class="image-preview">
          <img src="{{blogs[0].thumbnail}}" ng-show="blogs[0].thumbnail"/>
          <div class="no-image" ng-hide="blogs[0].thumbnail">
            No Image Selected<br />Optimum ratio for images is 4:1
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label>Content:</label>
        <textarea id="blogContent"></textarea>
      </div>
      <div class="col-md-12">
        <label>Images:</label>
        <form action="/api/blog/image"
              class="dropzone needsclick" id="blogImages" enctype="multipart/form-data">
          <div class="dz-message needsclick">
            Drop files here or click to upload.
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <button class="button-outline-fill" type="button" name="button" ng-click="validateNewBlogData()">{{blogs[0]._id ? 'Save' : 'Submit for approval'}}</button>
      </div>
    </div>
  </div>
  <div class="loading-cover" ng-show="blogLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
