<div class="container page">
  <div class="row content">
    <notification-dialog></notification-dialog>
    <div class="blog col-md-9">
      <h1>{{blogs[0].title}}</h1>
      <span>Posted {{blogs[0].createdate |  date:'MMM dd, yyyy'}} at {{ blogs[0].createdate |  date:'HH:mm'}} by <a href="#users/{{blogs[0].userid._id}}">{{blogs[0].userid.username}}</a></span>
      <div class="blog-image" ng-show="blogs[0].image">
        <img src="{{blogs[0].image}}"/>
      </div>
      <div class="" ng-bind-html="getBlogContent(blogs[0].content)">

      </div>
      <div comments entity="'blogs'" entityid="blogId">

      </div>
    </div>
    <div class="col-md-3">
      <rating entity="'blogs'" entityid="blogs[0]._id" user="currentuserid"></rating>
      <moderation entity="'blogs'" entityid="blogs[0]._id" approved="blogs[0].approved" owner="blogs[0].userid._id" size="'large'" editable="true"></moderation>
    </div>
  </div>
  <div class="loading-smoke" ng-show="blogLoading"></div>
</div>
