<div class="col-md-3" style="padding-left:0px;">
  <ul class="tabs plainlist">
    <h2 class="underline">Feature</h2>
    <li ng-class="{active:activeFeature===$index}" ng-repeat="feature in features" ng-click="setActiveFeature($index)">
      <a>{{feature.name}}</a>
    </li>
  </ul>
</div>
<div class="col-md-9">
  <h2 class="underline">{{features[activeFeature].name}}</h2>
  <div class="currentFeature">
    <label>Currently featured {{features[activeFeature].name}}:</label>
    <span>{{currentFeature.title || "None Selected"}}</span>
    <img src="{{currentFeature.image}}" />
  </div>
  <a ng-click="changeFeatureImage()">Change Image</a>
  <div class="detail">
    <textarea rows="8" class="form-control" ng-blur="saveFeature()" ng-model="currentFeature.comment"></textarea>
  </div>
  <div ng-show="currentFeature.name=='article'">
    <search-input data-config="admin-blogs"></search-input>
    <search-results id="adminFeaturedBlogs" data-config="admin-blogs"></search-results>
  </div>
  <div ng-show="currentFeature.name=='project'">
    <search-input data-config="admin-projects"></search-input>
    <search-results id="adminFeaturedProjects" data-config="admin-projects"></search-results>
  </div>
</div>
