<div class="container">
    <div class="row">
        <div class="col-md-4 img-wrapper" ng-repeat="image in images">
            <img title="{{image.name}}" src="{{image.url}}" class="img-responsive" />
            <div class="img-overlay">
                <span ng-click="copyUrl(image.branchUrl)" class="glyphicon glyphicon-link" aria-hidden="true"></span>
                <span ng-click="removeImage(image.name)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-md-4">
            <form action="/api/images"
                  class="dropzone needsclick" id="adminImages" enctype="multipart/form-data">
                <div class="dz-message needsclick">
                    Drop files here or click to upload.
                </div>
            </form>
        </div>
    </div>
</div>