<div class="col-md-3" style="padding-left:0px;">
  <ul class="tabs plainlist">
    <h2 class="underline">Picklist</h2>
    <li ng-class="{active:activePicklist===$index}" ng-repeat="list in picklists" ng-click="setActivePickList($index)">
      <a>{{list.name}}</a>
    </li>
    <li ng-show="userManager.canCreate('picklist')" >
      <input class="form-control new-input" ng-model="newlistname" placeholder="New Picklist"/>
      <div class="new inline" ng-click="newPicklist(newlistname)">Add</div>
    </li>
  </ul>
</div>
<div class="col-md-9">
  <h2 class="underline">Items</h2>
  <ul class="picklist-list list">
    <li ng-repeat="item in picklistItems">
      <input class="form-control editable" ng-disabled="!userManager.canUpdate('picklistitem')" ng-model="item.name"/>
      <div class="move icon down medium" ng-disabled="$index==picklistItems.length-1 || picklistItems.length==1" ng-click="movePicklistItem($index, 1)"></div>
      <div class="move icon up medium" ng-disabled="$index==0 || picklistItems.length==1" ng-click="movePicklistItem($index, -1)"></div>
      <div class="icon medium delete" ng-show="userManager.canDelete('picklistitem')" ng-click="deletePicklistItem(item._id)"></div>
    </li>
  </ul>
  <div class="">
    <form ng-submit="newPicklistItem(newlistitem)">
      <input class="form-control" type="text" placeholder="New Item" ng-model="newlistitem" />
      <button type="submit" class="new inline">Add</div>
    </form>
  </div>
</div>
