<div class="container page resource-edit">
  <div class="content">
    <notification-dialog></notification-dialog>
    <h2>{{resources[0]._id ? 'Edit Resource' : 'New Resource'}}</h2>
    <div class="row">
      <div class="col-md-12">
        <label>Title:</label>
        <input class="form-control" type="text" ng-model="resources[0].title" placeholder="Title" />
        <label>Type:</label>
        <select class="form-control" type="text" name="" ng-model="resources[0].resourceType" ng-options="item.name for item in resourceTypes track by item._id">
          <option value="">Please specify a Type</option>
        </select>
        <label>Tags:</label>
        <input class="form-control" type="text" ng-model="resources[0].tags" name="name" value="" placeholder="Assign some tags to your blog. e.g. Visualization, Sense">
      </div>
      <div class="col-md-12">
        <label>Content:</label>
            <textarea id="resourceContent"></textarea>
      </div>
      <div class="col-md-12">
        <label>Images:</label>
        <form action="/api/resource/image"
              class="dropzone needsclick" id="resourceImages" enctype="multipart/form-data">
          <div class="dz-message needsclick">
            Drop files here or click to upload.
          </div>
        </form>
      </div>
      <div class="col-md-12">
        <button class="button-outline-fill" type="button" name="button" ng-click="validateNewResourceData()">{{resources[0]._id ? 'Save' : 'Submit for approval'}}</button>
      </div>
    </div>
  </div>
  <div class="loading-cover" ng-show="resourceLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
