<div class="container page">
  <div class="row content">
    <notification-dialog></notification-dialog>
    <div class="resource-detail card">
      <div class="resource-type {{resources[0].resourceType.name}}">
      </div>
      <div class="resource-header">
        <h2>{{resources[0].title}}</h2>
        <span>Last Updated on {{resources[0].last_updated |  date:'MMM dd, yyyy'}} at {{ resources[0].last_updated |  date:'HH:mm'}} by <a class="user-link" href="#user/{{resources[0].userid._id}}">{{resources[0].userid.username}}</a></span>
        <div class="resource-content" ng-bind-html="getResourceContent(resources[0].content)"></div>
        <moderation entity="'resource'" entityid="resources[0]._id" approved="resources[0].approved" owner="resources[0].userid._id" size="'large'" editable="true"></moderation>
      </div>
      <rating entity="'resource'" entityid="resources[0]._id" user="currentuserid"></rating>
    </div>
    <div class="resource-comments" comments entity="'resource'" entityid="resourceId"></div>
  </div>

  <div class="loading-cover" ng-show="resourceLoading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
