.new, .copy, .use{
  cursor: pointer;
  color: @green;
  &.inline{
    display: inline-block;
    width: 50px;
  }
}

.ghost-button{
  border-radius: 0;
  background-color: transparent;
  border: 2px solid;
  padding: 7px 40px;
  font-size: 16px;
  margin: 3px;
  &.small{
    font-size: 14px;
    padding: 4px 30px;
  }
}

.branch-button{
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  margin: 3px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  background-color: @green;
  color: white;
  font-size: 14px;
  border: none;
  width: 100%;

  &[ng-disabled=true]{
    background-color: @light-grey !important;
    cursor: not-allowed;
  }

  &.orange{
    background-color: @orange;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-clear{
  color: @green;
  background-color: transparent;
  border: none;
}

.branch-light-button {
  box-sizing: border-box;
  border: solid 1px @content-border;
  background: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  box-shadow: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  appearance: none;
  background-clip: border-box;
  vertical-align: middle;
  display: inline-block;
  min-width: 44px;
  padding: 1px 15px;
  line-height: 24px;
  height: 28px;
  white-space: nowrap;
  
  &:hover {
    border-color: #666666;
  }
  
  .fa {
    margin-right: 10px;
  }
  
}