.new, .copy, .use{
  cursor: pointer;
  color: @green;
  &.inline{
    display: inline-block;
    width: 50px;
  }
}

.ghost-button{
  border-radius: 0;
  background-color: transparent;
  border: 2px solid;
  padding: 7px 40px;
  font-size: 16px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-clear{
  color: @green;
  background-color: transparent;
  border: none;
}
