@green: rgb(94,168,63);
@green2: rgba(160,206,34, 0.7);
@green3: rgba(160,206,34, 0.4);
@translucentgreen: rgba(94,168,63, 0.7);
@orange: rgb(242,177,97);
@red: rgb(240, 80, 80);
@linkhover: rgba(242,177,97, 0.7);
@red: rgb(200,10,10);
@light-grey: rgb(240,240,240);
@header-grey: #838383;
@dark-grey: rgb(100,100,100);
@default-text: rgb(51,51,51);
@smoke: rgba(0, 0, 0, 0.4);
@table-odd-background: rgb(240,240,240);
@blue: #337ab7;
@aspot-background: rgb(212,220,223);
@background: #f9f9f9;
@content-border: #e2e2e2;
@frosted-white: rgba(255,255,255,0.7);
@disabled: rgb(220,220,220);


.green{
  color: @green !important;
}
.grey{
  color: @dark-grey !important;
}
.blue{
  color: @blue;
}

.frosted-white{
  background-color: rgba(255,255,255,0.7);
}

.frosted-green{
  background-color: @translucentgreen;
}

.yellow-bk{
  background-color: yellow;
}

.white-bk{
  background-color: white;
}

.green-bk{
  background-color: @green;
}
