@font-face {
    font-family: branch-icons;
    src: url(../resources/branch.ttf);
}
@font-face {
  font-family:ProximaNova-Light;
  src:url(../resources/proximanova/2E6388_1_0.eot);
  src:url(../resources/proximanova/2E6388_1_0.eot?#iefix) format("embedded-opentype"),
  url(../resources/proximanova/2E6388_1_0.woff2) format("woff2"),
  url(../resources/proximanova/2E6388_1_0.woff) format("woff"),
  url(../resources/proximanova/2E6388_1_0.ttf) format("truetype")
}