.icon{
  font-family: branch-icons;

  &.small::before{
    font-size: 14px;
  }

  &.medium::before{
    font-size: 20px;
  }

  &.large::before{
    font-size: 25px;
  }
}

.icon{
  cursor: pointer;
  color: @dark-grey;
}
.flag:hover, .remove:hover, .delete:hover, .flag.flagged, .remove.hidden{
  color: @red;
}
.approve:hover, .edit:hover, .download:hover{
  color: @green;
}

.first{
  &::before{
    content: "\E80B";
  }
}

.prev{
  &::before{
    content: "\E80A";
  }
}

.next{
  &::before{
    content: "\E808";
  }
}

.last{
  &::before{
    content: "\E809";
  }
}

.approve{
  &::before{
    content: "\E813";
  }
}

.remove{  //can't use hide as bootstrap uses it for another purpose
  &::before{
    content: "\E814";
  }
}

.delete{
  &::before{
    content: "\E807";
  }
}

.flag{
  &::before{
    content: "\E815";
  }
  &::after{
    content: attr(data-flagcount);
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 40px;
  }
}

.edit{
  &::before{
    content: "\E816";
  }
}

.download{
  &::before{
    content: "\E812";
  }
}

.star{
  display: inline;
  font-family: branch-icons;
  &::before{
    content: "\E821";
  }
  &.filled{
    color: @green;
    &::before{
      content: "\E820";
    }
  }
}
