.icon{
  font-family: branch-icons;

  &.small::before{
    font-size: 14px;
  }

  &.medium::before{
    font-size: 20px;
  }

  &.large::before{
    font-size: 28px;
  }
}

.first{
  &::before{
    content: "\E80B";
  }
}

.prev{
  &::before{
    content: "\E80A";
  }
}

.next{
  &::before{
    content: "\E808";
  }
}

.last{
  &::before{
    content: "\E809";
  }
}

.approve{
  &::before{
    content: "\E813";
  }
}

.remove{  //can't use hide as bootstrap uses it for another purpose
  &::before{
    content: "\E814";
  }
}

.delete{
  &::before{
    content: "\E807";
  }
}

.flag{
  &::before{
    content: "\E815";
  }
}
