.list{
  padding: 10px 5px;
  li{
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    background-color: white;
    text-indent: 10px;
    &:nth-child(odd){
      background-color: @table-odd-background;
    }
    label, input{
      display: inline-block;
    }

    &.highlight{
      border: 2px solid @green;
    }

  }
}

.permission-list{
  li{
    label{
      width: 9%;
      text-align: center;
      margin-right: 0;
    }
    :first-child{
      width: 22%;
    }
    input:first-child{
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
    [type='checkbox']{
      width: 5%;
      height: 22px !important;
      line-height: 25px !important;
      margin-top: 0;
      margin-left: 4%;
      border: none;
      box-shadow: none;
    }
  }
}

.user-list{
  li{
    a, select{
      display: inline-block;
    }
    a, label, select{
      width: ~"calc(25% - 15px)";
    }
    :last-child{
      width: 40px;
    }
    label{
      margin-right: 0;
    }
    select{
      height: 26px;
    }
  }
}

.project-list, .blog-list, .discussion-list{
  > li{
    position: relative;
    padding: 5px 0;
    vertical-align: top;
    margin: 5px 0;
    .project-summary{
      position: absolute;
      left: 170px;
      top: 0;
      display: inline-block;
      padding: 0 5px;
      box-sizing: border-box;
      width: ~"calc(100% - 160px)";

      p{
        max-height: 30px;
        overflow: hidden;
      }
    }
  }
  .stats{
    color: @dark-grey;
    font-size: 12px;
    i{
      color: @green;
      font-style: normal;
    }
    .rating{
      color:@green;
      .star{
        font-size: 14px;
      }
    }
  }
}

.project-list{
  @media screen and (min-width: @tablet-width) {
     > li{
       height: 105px;
     }
  }
  @media screen and (max-width: @tablet-width) {
    > li{
      height: 150px;
    }
  }
  img{
    width: auto;
    max-height: 75px;
    display: inline-block;
    vertical-align: top;
  }
}

.blog-list{
  @media screen and (min-width: @tablet-width) {
     > li{
       min-height: 100px;
     }
  }
  @media screen and (max-width: @tablet-width) {
    > li{
      height: 150px;
    }
  }
}

.page-list{
  li{
    cursor: pointer;
    display: inline-block;
    color: @blue;
    font-size: 12px;
    padding: 5px;
    &.active{
      color: @orange;
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}

.stat-list{
  margin-left: 200px !important;
  li{
    text-align: center;
    display: inline-block;
    margin: 0 10px;
  }
  h1{
    color: @green;
    font-size: 14px;
  }
  span{
    color: @header-grey;
    font-size: 20px;
  }
}

.moderation-list{


  .large{
    position: relative;
    &::before{
      position: absolute;
      top: 0;
      left: 0;
    }
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    font-weight: lighter;

    &:last-of-type{
      margin-bottom: 10px;
    }
  }
}

.picklist-list{
  li{
    input{
      width: ~"calc(100% - 120px)";
      &.editable{
        border: none;
        background-color: transparent;
        box-shadow: none;
        height: 30px;
        line-height: 30px;
      }
    }
    .delete, .move{
      width: 30px;
      display: inline-block;
    }
  }
}

.browse-list{
  overflow: hidden;
  max-height: 200px;

  border-bottom: 1px solid @content-border;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;

  .picklist{
    vertical-align: top;
    border: none;
    display: inline-block;
    max-height: 200px;
    width: 200px;
    ul{
      height: 180px;
    }
  }
  .content{
    margin-top: 0;
    padding-top: 0;
  }
}

.comment-list{
  li{
    &.author-comment{
      background-color: @green3;
    }
  }
  .thumb-container, .comment-content{
    display: inline-block;
  }
  .thumb-container{
    width: 80px;
    overflow: hidden;
    img{
      max-width: 80px;
    }
  }
  .comment-content{
    padding: 5px;
    vertical-align: top;
    width: ~"calc(100% - 85px)";
  }
  .comment-header{
    span:last-of-type{
      float: right;
    }
  }
}

.version-list{
  li{
    display: inline-block;
    margin: 0 4px;
  }
}

.gitlist{
  li{
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    &:hover{
      border-bottom: 1px solid @green;
    }
    &.highlight{
      border-bottom: 2px solid @green;
      color: @green;
    }
  }
}

.user-projects{
  .row{
    padding: 10px 0px;
  }
  ul{
   li:first-of-type{
     color: @light-grey;
   }
  }
}

.project-list, .user-projects{
  >li{
    border-bottom: 1px solid @content-border;
    &:first-of-type{
      border-top: 2px solid @content-border;
    }
  }
}
