/* 
 * Loading indicators
 * .loading-cover will cover the entire page to prevent flash of templates.
 * .loading will give you a small loading indicator box, useful for populating .loading-cover
 * Required DOM: <div> <span></span><span></span><span></span><span></span><span></span> </div>
*/

.loading-cover {
	background-color: @bodybackground;
	position: absolute;
	display: flex;
	justify-content: center;
	padding-top: 200px;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 20;
}

.loading {
	height: 100px;
  	text-align: center;
}

.loading-cover, .loading {
	span {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 20px 3px 0;
		background: @orange;
		opacity: 0.25;
		border-radius: 50%;
		transform: translateY(0);		
		animation: wave 1.4s infinite ease-in-out;
		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
		}		
		&:nth-child(4) {
			animation-delay: 0.3s;
		}		
		&:nth-child(5) {
			animation-delay: 0.4s;
		}	
	}
}

@keyframes wave
{
	0%, 60%, 100%
	{	
		opacity: 0.25;
		transform: translateY(0);
	}
	
	20%
	{
		opacity: 0.75;
		transform: translateY(13px);
	}
	
	40%
	{
		opacity: 0.75;
		transform: translateY(-13px);
	}
	
}