@tablet-width: 720px;

@import "./colors.less";
@import "./fonts.less";

html{
  background: url('/resources/open-source-2012.jpg') top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body{
  color: @default-text;
  font-family: sans-serif, arial;
  font-size: 12px;
  background-color: transparent;
}

ul.plainlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  a:hover{
    text-decoration: none;
    color: @linkhover;
  }
}

label{
  display: inline-block;
  margin-right: 4px;
}

h1{
  color: @dark-grey;
  font-size: 25px;
  margin: 5px 0;
}

h2{
  color: @dark-grey;
  font-size: 16px;
  margin: 5px 0;
}

h3{
  color: @orange;
  font-size: 18px;
  margin: 5px 0;
}

textarea{
  resize: none;
}

p{
  font-size: 12px;
}

img{
  display: block;
}
.underline{
  border-bottom: 1px solid;
}

.right-border{
  border-right: 1px solid;
}

.left-border{
  border-left: 1px solid;
}

.right{
  float: right;
}

.main{
  padding-top: 80px;
}

.page{
  min-height: ~"calc(100% - 80px)";
}

.paging, .sorting{
  height: 100%;
  font-size: 12px;
  float: right;
  margin-left: 20px;
  label, ul, select{
    display: inline-block;
  }
  label{
    font-weight: normal;
  }
  select{
    width: 120px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: white;
    height: 50px;
  }
}

.thumb-container{
  width: 150px;
  text-align: center;
}

.content{
  background-color: white;
  padding: 10px 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid @content-border;
}

.frosted-cover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.no-mobile{
  @media screen and (max-width: @tablet-width) {
    display: none;
  }
}

.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.result-header{
  font-size: 12px;
  text-indent: 10px;
  color: @header-grey;
  height: 50px;
  line-height: 42px;
  select{
    width: 200px;
  }
}

.center{
  margin: 0 auto;
  display: block;
}

@import "./icons.less";
@import "./buttons.less";
@import "./notifications.less";
@import "./tabs.less";
@import "./lists.less";
@import "./picklist.less";
@import "./controls.less";
@import "./search.less";
@import "./breadcrumbs.less";
@import "./confirm-dialog.less";
@import "./header/header-main.less";
@import "./header/header-mobile.less";
@import "./home/home-main.less";
@import "./home/home-mobile.less";
@import "./login/login-main.less";
@import "./project/project-main.less";
@import "./user/user-main.less";
