.tabs{
  width: 100%;
  margin-bottom: 5px;
    li{
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      padding-right: 15px;

      &.active{
        color: @orange;
      }
    }
}

.tabs.horizontal{
  border-bottom: 1px solid @orange;
  li{
    display: inline-block;
  }
}
